body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header, nav, footer {
    padding: 10px;
    background-color: #003366;
    color: white;
    text-align: center;
}

.logo {
    float: left;
    width: 50px;
}

main {
    padding: 20px;
}

article {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
}

aside {
    position: fixed;
    top: 100px;
    width: 200px;
    height: 200px;
    background-color: #eee;
    padding: 10px;
    overflow: auto;
}

.left-aside {
    left: 0;
}

.right-aside {
    right: 0;
}

footer {
    margin-top: 30px;
}


button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}